/* General */

html, body {
  color: #000000;
  background-color: #e0e0e0;
  text-align: center;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 20px 0px;
  height: 100%;
}

body {
  border-top: 17px solid #e0e0e0;
  font-family: Georgia, serif;
  font-size: 75%;
  line-height: 1.5em;
}

p {
  text-align: justify;
}

#container {
  float: none;
  width: 800px;
  background-color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  text-align: left;
  border-bottom: 4px solid #3792cc;
}

#page {
  background-color: #ffffff;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 0px;
  margin-bottom: 8px;
}

a {
  color: #000000;
}

a:link {
  color: #000000;
}

a:visited {
  color: #000000;
}

a:hover {
  color: #ffffff;
  background: #3692cc;
  text-decoration: none;
}

img {
  border-width: 0px;
}

.pdf_icon {
  text-decoration: none;
}

.pdf_icon a:hover {
  background: #ffffff;
}

.icon_link img {
  position: relative;
  top: 2px;
  right: 2px;
}

/* template header */

#header {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#header_logo a:hover {
  background: #ffffff;
}

/* template middle */

#left_sidebar {
  clear: both;
  float: left;
  width: 240px;
  margin-top: 0px;
  border-right: 1px solid #cccccc;
}

#left_sidebar h2 {
  font-size: 90%;
  color: #7f7f7f;
  font-style: italic;
  margin-bottom: 1.0em;
  font-weight: normal;
}

#group_logo a:hover {
  background: #ffffff;
}

#me {
  margin-top: 20px;
  margin-right: 10px;
}

#me .name {
  font-weight: bolder;
}

#top_menu {
  margin-top: 12px;
  margin-left: 250px;
  padding-top: 0px;
  padding-right: 20px;
  background: #f0f0f0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

#top_menu a {
  text-decoration: none;
}

#top_menu ul {
  text-align: center;
  list-style-type: none;
}

#top_menu li {
  display: inline;
}

#main_content {
  padding-top: 25px;
  margin-left: 260px;
  margin-bottom: 10px;
}

#main_content p {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  line-height: 1.65em;
}

#main_content h2 {
  padding-top: 20px;
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 10px;
  font-size: 140%;
  font-style: normal;
  font-weight: normal;
  border-bottom: 1px solid #cccccc;
}

#main_content h3 {
  padding-top: 0px;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 15px;
  font-size: 120%;
  font-style: normal;
  font-weight: normal;
}

#main_content ul {
  list-style-type: none;
}

#main_content .item_name {
  font-style: normal;
  font-weight: bold;
}

#main_content .item_note {
  color: #7f7f7f;
}

#main_content .quote {
	width: 50%;
	float: right;
	margin-right: 10px;
	margin-bottom: 30px;
	text-align: center;
	font-style: italic;
}

#main_content .quote small {
	display: block;
	text-align: right;
}

/* template bottom */

#footer {
  clear: both;
  margin-bottom: 30px;
  border-top: 1px solid #cccccc;
  font-size: 90%;
  color: #7f7f7f;
  line-height: 1.4em;
  height: 100%;
}

#footer ul {
  float: right;
  text-align: right;
  width: 200px;
  margin-top: 14px;
  margin-right: 20px;
  color: #000000;
  list-style-type: none;
}

#footer li {
  display: inline;
}

#footer .name {
  color: #000000;
}

#bottom_info {
  padding: 15px 0px 40px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75%;
  letter-spacing: 1px;
  color: #777777;
  display: block;
  text-transform: uppercase;
}

#bottom_info a {
  color: #3c3c3c;
}

#bottom_info a:hover {
  color: #b9b9b9;
  background: #3c3c3c;
  text-decoration: none;
}

#easter_egg_link a {
  color: #777777;
  text-decoration: none;
}


pre {
    display: none;
    overflow-x: auto;
    margin: 1em 1em 0 -1.5em;
    padding: 0.5em;
    border: 1px solid #dce5d8;
    background-color: #f4fff0;
}